<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cec.tv.dao.PersonMapper" >
  <resultMap id="BaseResultMap" type="com.cec.tv.model.Person" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="wx" property="wx" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="postaladdress" property="postaladdress" jdbcType="VARCHAR" />
    <result column="residentialaddress" property="residentialaddress" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="specialty" property="specialty" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="imgpath" property="imgpath" jdbcType="VARCHAR" />
    <result column="lefteye" property="lefteye" jdbcType="DOUBLE" />
    <result column="righteye" property="righteye" jdbcType="DOUBLE" />
    <result column="graduateschool" property="graduateschool" jdbcType="VARCHAR" />
    <result column="graduationtime" property="graduationtime" jdbcType="VARCHAR" />
    <result column="educationlevel" property="educationlevel" jdbcType="VARCHAR" />
    <result column="englishlevel" property="englishlevel" jdbcType="VARCHAR" />
    <result column="airinterview" property="airinterview" jdbcType="VARCHAR" />
    <result column="whichlink" property="whichlink" jdbcType="VARCHAR" />
    <result column="levelofeducation" property="levelofeducation" jdbcType="VARCHAR" />
    <result column="fullfacephotopath" property="fullfacephotopath" jdbcType="VARCHAR" />
    <result column="sidefacephotopath" property="sidefacephotopath" jdbcType="VARCHAR" />
    <result column="fullbodyphotopath" property="fullbodyphotopath" jdbcType="VARCHAR" />
    <result column="videointroduction" property="videointroduction" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sex, age, height, weight, birthday, mobile, major, wx, email, postaladdress,
    residentialaddress, remark, specialty, location, imgpath, lefteye, righteye, graduateschool, 
    graduationtime, educationlevel, englishlevel, airinterview, whichlink, levelofeducation, 
    fullfacephotopath, sidefacephotopath, fullbodyphotopath, videointroduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from person
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from person
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cec.tv.model.Person" >
    insert into person (id, name, sex, 
      age, height, weight, 
      birthday, mobile, major,
      wx, email, postaladdress, 
      residentialaddress, remark, specialty, 
      location, imgpath, lefteye, 
      righteye, graduateschool, graduationtime, 
      educationlevel, englishlevel, airinterview, 
      whichlink, levelofeducation, fullfacephotopath, 
      sidefacephotopath, fullbodyphotopath, videointroduction
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{age,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE}, 
      #{birthday,jdbcType=TIMESTAMP}, #{mobile,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR},
      #{wx,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{postaladdress,jdbcType=VARCHAR}, 
      #{residentialaddress,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{specialty,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{imgpath,jdbcType=VARCHAR}, #{lefteye,jdbcType=DOUBLE}, 
      #{righteye,jdbcType=DOUBLE}, #{graduateschool,jdbcType=VARCHAR}, #{graduationtime,jdbcType=VARCHAR}, 
      #{educationlevel,jdbcType=VARCHAR}, #{englishlevel,jdbcType=VARCHAR}, #{airinterview,jdbcType=VARCHAR}, 
      #{whichlink,jdbcType=VARCHAR}, #{levelofeducation,jdbcType=VARCHAR}, #{fullfacephotopath,jdbcType=VARCHAR}, 
      #{sidefacephotopath,jdbcType=VARCHAR}, #{fullbodyphotopath,jdbcType=VARCHAR}, #{videointroduction,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cec.tv.model.Person" >
    insert into person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="wx != null" >
        wx,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="postaladdress != null" >
        postaladdress,
      </if>
      <if test="residentialaddress != null" >
        residentialaddress,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="specialty != null" >
        specialty,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="imgpath != null" >
        imgpath,
      </if>
      <if test="lefteye != null" >
        lefteye,
      </if>
      <if test="righteye != null" >
        righteye,
      </if>
      <if test="graduateschool != null" >
        graduateschool,
      </if>
      <if test="graduationtime != null" >
        graduationtime,
      </if>
      <if test="educationlevel != null" >
        educationlevel,
      </if>
      <if test="englishlevel != null" >
        englishlevel,
      </if>
      <if test="airinterview != null" >
        airinterview,
      </if>
      <if test="whichlink != null" >
        whichlink,
      </if>
      <if test="levelofeducation != null" >
        levelofeducation,
      </if>
      <if test="fullfacephotopath != null" >
        fullfacephotopath,
      </if>
      <if test="sidefacephotopath != null" >
        sidefacephotopath,
      </if>
      <if test="fullbodyphotopath != null" >
        fullbodyphotopath,
      </if>
      <if test="videointroduction != null" >
        videointroduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="wx != null" >
        #{wx,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="postaladdress != null" >
        #{postaladdress,jdbcType=VARCHAR},
      </if>
      <if test="residentialaddress != null" >
        #{residentialaddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="imgpath != null" >
        #{imgpath,jdbcType=VARCHAR},
      </if>
      <if test="lefteye != null" >
        #{lefteye,jdbcType=DOUBLE},
      </if>
      <if test="righteye != null" >
        #{righteye,jdbcType=DOUBLE},
      </if>
      <if test="graduateschool != null" >
        #{graduateschool,jdbcType=VARCHAR},
      </if>
      <if test="graduationtime != null" >
        #{graduationtime,jdbcType=VARCHAR},
      </if>
      <if test="educationlevel != null" >
        #{educationlevel,jdbcType=VARCHAR},
      </if>
      <if test="englishlevel != null" >
        #{englishlevel,jdbcType=VARCHAR},
      </if>
      <if test="airinterview != null" >
        #{airinterview,jdbcType=VARCHAR},
      </if>
      <if test="whichlink != null" >
        #{whichlink,jdbcType=VARCHAR},
      </if>
      <if test="levelofeducation != null" >
        #{levelofeducation,jdbcType=VARCHAR},
      </if>
      <if test="fullfacephotopath != null" >
        #{fullfacephotopath,jdbcType=VARCHAR},
      </if>
      <if test="sidefacephotopath != null" >
        #{sidefacephotopath,jdbcType=VARCHAR},
      </if>
      <if test="fullbodyphotopath != null" >
        #{fullbodyphotopath,jdbcType=VARCHAR},
      </if>
      <if test="videointroduction != null" >
        #{videointroduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cec.tv.model.Person" >
    update person
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="wx != null" >
        wx = #{wx,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="postaladdress != null" >
        postaladdress = #{postaladdress,jdbcType=VARCHAR},
      </if>
      <if test="residentialaddress != null" >
        residentialaddress = #{residentialaddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        specialty = #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="imgpath != null" >
        imgpath = #{imgpath,jdbcType=VARCHAR},
      </if>
      <if test="lefteye != null" >
        lefteye = #{lefteye,jdbcType=DOUBLE},
      </if>
      <if test="righteye != null" >
        righteye = #{righteye,jdbcType=DOUBLE},
      </if>
      <if test="graduateschool != null" >
        graduateschool = #{graduateschool,jdbcType=VARCHAR},
      </if>
      <if test="graduationtime != null" >
        graduationtime = #{graduationtime,jdbcType=VARCHAR},
      </if>
      <if test="educationlevel != null" >
        educationlevel = #{educationlevel,jdbcType=VARCHAR},
      </if>
      <if test="englishlevel != null" >
        englishlevel = #{englishlevel,jdbcType=VARCHAR},
      </if>
      <if test="airinterview != null" >
        airinterview = #{airinterview,jdbcType=VARCHAR},
      </if>
      <if test="whichlink != null" >
        whichlink = #{whichlink,jdbcType=VARCHAR},
      </if>
      <if test="levelofeducation != null" >
        levelofeducation = #{levelofeducation,jdbcType=VARCHAR},
      </if>
      <if test="fullfacephotopath != null" >
        fullfacephotopath = #{fullfacephotopath,jdbcType=VARCHAR},
      </if>
      <if test="sidefacephotopath != null" >
        sidefacephotopath = #{sidefacephotopath,jdbcType=VARCHAR},
      </if>
      <if test="fullbodyphotopath != null" >
        fullbodyphotopath = #{fullbodyphotopath,jdbcType=VARCHAR},
      </if>
      <if test="videointroduction != null" >
        videointroduction = #{videointroduction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cec.tv.model.Person" >
    update person
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      mobile = #{mobile,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      wx = #{wx,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      postaladdress = #{postaladdress,jdbcType=VARCHAR},
      residentialaddress = #{residentialaddress,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      specialty = #{specialty,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      imgpath = #{imgpath,jdbcType=VARCHAR},
      lefteye = #{lefteye,jdbcType=DOUBLE},
      righteye = #{righteye,jdbcType=DOUBLE},
      graduateschool = #{graduateschool,jdbcType=VARCHAR},
      graduationtime = #{graduationtime,jdbcType=VARCHAR},
      educationlevel = #{educationlevel,jdbcType=VARCHAR},
      englishlevel = #{englishlevel,jdbcType=VARCHAR},
      airinterview = #{airinterview,jdbcType=VARCHAR},
      whichlink = #{whichlink,jdbcType=VARCHAR},
      levelofeducation = #{levelofeducation,jdbcType=VARCHAR},
      fullfacephotopath = #{fullfacephotopath,jdbcType=VARCHAR},
      sidefacephotopath = #{sidefacephotopath,jdbcType=VARCHAR},
      fullbodyphotopath = #{fullbodyphotopath,jdbcType=VARCHAR},
      videointroduction = #{videointroduction,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>